.env
.idea/*
.tox/*
.venv/
artifacts
.coverage
log.txt
nohup.out
cache/*
.pytest_cache
*.pyc
reports/

dist
*egg-info/
_build/*
build/*
inputs/*
_autosummary/
autoapi/
docs/examples/hozint-*-help.txt
